<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}"> <span class="badge">{{hero.id}}</span>
      {{hero.name}} 
    </a> 
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li> 
</ul>

<!-- Some of this refers to code that has been deleted  -->
<!--ngFor is a loop directive -->
<!--(click) is event binding -->
<!--[class.slected] is class binding -->

<!-- [hero] is property binding (aka one way data binding) -->
<!-- <app-hero-detail [hero]="selectedHero"> </app-hero-detail> -->